@charset "UTF-8";

.profile-top {
  display: flex;
  flex-direction: row-reverse;
}

.default-profile-image {
  width: 75px;
}

.default-cover-image {
  width: 910px;
  height: 360px;
  object-fit: cover;
}

.profile-top {
  align-items: center;
  justify-content: space-between;
  margin: 50px 9.5% 80px;
}

.user-nickname {
  font-size: 28px;
  font-weight: 700;
}

.user-category {
  color: gray;
  font-size: 14px;
  margin: 6px 0 10px;
}

.user-body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 30px 0 0;
  width: 450px;
}

.user-statistic-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
  width: 100%;
}

.user-static {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.txt-card-count {
  font-size: 20px;
  font-weight: 700;
}

/* 모달창 */
.modal-outer {
  display: none;
  height: 100%;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal .medium {
  max-width: 500px;
  width: 100%;
}

.modal {
  background: white;
  width: 400px;
  max-height: calc(70% - 40px);
  border-radius: 5px;
  box-shadow: 0 15px 40px #1b223f14;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  position: relative;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}


.modal-head {
  align-items: center;
  display: flex;
  padding: 30px 30px 0;
}

.modal-head.action {
  justify-content: space-between;
}

.profile-image-medium img {
  display: block;
}

.profile-image-medium {
  width: 40px;
}

ul.list {
  gap: 10px;
  height: 410px;
  margin: 30px 0 20px;
  padding: 0;
}

.user-item {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 30px;
  width: 100%;
}

.user-list-modal-head {
  font-size: 12px;
  font-weight: 400;
}

.profile-wrapper {
  align-items: center;
  display: flex;
  gap: inherit;
}







